header {
	width: 100%;
	position: sticky;
	background: rgba(7, 9, 15, 0.25);
	backdrop-filter: blur(0.5rem);
	top: 0;
	padding: 0.75rem 1.5rem;
	z-index: 100;
	.upper-navigation {
		@include flexbox(center, space-between, 0, 0);
		svg {
			width: 40px;
			height: 40px;
		}
	}
	nav {
		height: 150px;
		display: none;
		margin-top: 0.5rem;
		&.active {
			@include flexbox(center, center, 0, 0);
		}
		ul {
			@include flexbox(center, center, column, 1rem);
		}
	}
	@media (min-width: $md) {
		position: static;
		@include flexbox(0, space-between, 0, 0);
		.upper-navigation {
			svg {
				display: none;
			}
		}
		nav {
			height: auto;
			@include flexbox(0, 0, 0, 0);
			ul {
				@include flexbox(0, 0, row, 2rem);
				padding: 0;
				li {
					font-size: clamp(0.9rem, 1.3vw, 1.8rem);
				}
			}
		}
	}
}
