.what-you-get-need {
	@include flexbox(center, 0, column, 0);
	&__features,
	&__reqs {
		margin-top: 1rem;
		@include flexbox(0, 0, column, 0.5rem);
		&__feature,
		&__req {
			@include flexbox(center, 0, 0, 0.25rem);
		}
	}
	&__features {
		margin-bottom: -1.5rem;
	}
	&__right {
		margin-top: -1.5rem;
	}
	&__results {
		width: 350px;
		height: 350px;
	}
	@media (min-width: $lg) {
		margin-top: -2rem;
		@include flexbox(center, space-around, row, 0);
		&__results {
			width: 400px;
			height: 400px;
		}
	}
}
