@font-face {
  font-family: "Neue";
  src: url("../assets/font/Neue-Plak-Extended-Regular.woff2") format("woff2"), url("../assets/font/Neue-Plak-Extended-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue";
  src: url("../assets/font/Neue-Plak-Extended-Bold.woff2") format("woff2"), url("../assets/font/Neue-Plak-Extended-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  width: 100%;
}

body {
  font-family: "Neue";
  background-color: rgb(5, 6, 10);
  color: rgb(220, 220, 220);
  line-height: 1.2;
}
body h1::-moz-selection, body h2::-moz-selection, body h3::-moz-selection, body h4::-moz-selection, body h5::-moz-selection, body h6::-moz-selection, body p::-moz-selection, body li::-moz-selection, body span::-moz-selection {
  background: rgb(34, 153, 255);
  color: rgb(220, 220, 220);
}
body h1::selection,
body h2::selection,
body h3::selection,
body h4::selection,
body h5::selection,
body h6::selection,
body p::selection,
body li::selection,
body span::selection {
  background: rgb(34, 153, 255);
  color: rgb(220, 220, 220);
}

main,
section,
footer {
  margin: 2.5rem;
}

h1 {
  font-size: clamp(2rem, 3.25vw, 5rem);
  font-weight: bold;
}

h2,
.hero-title {
  font-size: clamp(3.25rem, 6.5vw, 8rem);
  font-weight: bold;
}

h3 {
  font-size: clamp(2.5rem, 3.25vw, 5rem);
  font-weight: bold;
}

h4 {
  font-size: clamp(1.85rem, 2.25vw, 3.75rem);
  font-weight: bold;
}

h5 {
  font-size: clamp(1.35rem, 1.75vw, 2.5rem);
  font-weight: bold;
}

li {
  font-size: clamp(1.5rem, 2vw, 3rem);
  font-weight: bold;
}

p {
  font-size: clamp(1rem, 1.25vw, 1.5rem);
  font-weight: normal;
}

a {
  color: rgb(220, 220, 220);
  text-decoration: none;
  transition: color 0.25s ease-in-out;
  cursor: pointer;
}
a:hover {
  color: rgb(34, 153, 255);
}

li {
  list-style: none;
}

button {
  font-family: "Neue";
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(34, 153, 255);
  color: rgb(220, 220, 220);
  font-size: clamp(0.9rem, 1vw, 1.4rem);
  font-weight: bold;
  padding: 0.5rem 0.75rem;
  border-radius: 0.4rem;
  align-self: flex-start;
  transition: all 0.25s ease-in-out;
}
button:hover, button:focus {
  background-color: rgb(0, 56, 255);
}

input {
  background-color: rgb(220, 220, 220);
  outline: none;
  padding: 0.35rem;
  border: 2px solid rgb(220, 220, 220);
  transition: border 0.25s ease-in-out;
}
input:hover, input:focus {
  border: 2px solid rgb(34, 153, 255);
}
input::-moz-placeholder {
  color: rgb(5, 6, 10);
  font-size: 0.8rem;
  font-weight: 600;
}
input::placeholder {
  color: rgb(5, 6, 10);
  font-size: 0.8rem;
  font-weight: 600;
}

svg {
  cursor: pointer;
  width: 30px;
}
svg path {
  transition: fill 0.25s ease-in-out;
  fill: rgb(220, 220, 220);
}
svg:hover path, svg:focus path {
  fill: rgb(34, 153, 255);
}

.bold {
  font-weight: bold;
}

.blue {
  color: rgb(34, 153, 255);
}

.text-xl {
  font-size: clamp(6.5rem, 8.5vw, 12rem);
  font-weight: bold;
}

.line {
  width: 1.75rem;
  padding: 1px;
  background-color: rgb(34, 153, 255);
  border-radius: 1rem;
}

@media (min-width: 768px) {
  button {
    padding: 0.65rem 1.15rem;
  }
}
.hidden {
  display: none;
}

.circle {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: rgb(34, 153, 255);
  border-radius: 100%;
}

header {
  width: 100%;
  position: sticky;
  background: rgba(7, 9, 15, 0.25);
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
  top: 0;
  padding: 0.75rem 1.5rem;
  z-index: 100;
}
header .upper-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .upper-navigation svg {
  width: 40px;
  height: 40px;
}
header nav {
  height: 150px;
  display: none;
  margin-top: 0.5rem;
}
header nav.active {
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  header {
    position: static;
    display: flex;
    justify-content: space-between;
  }
  header .upper-navigation svg {
    display: none;
  }
  header nav {
    height: auto;
    display: flex;
  }
  header nav ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 0;
  }
  header nav ul li {
    font-size: clamp(0.9rem, 1.3vw, 1.8rem);
  }
}

main {
  height: 100%;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .left button {
  margin-top: 2.5rem;
}
main .right img {
  width: 400px;
  height: 400px;
}
@media (min-width: 768px) {
  main {
    height: 80vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

.choose-us {
  background-color: rgb(7, 9, 15);
  margin-top: 0.5rem;
  padding: 2rem;
  border-radius: 1.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}
@media (min-width: 768px) {
  .choose-us {
    margin-top: 5rem;
  }
}

.process {
  text-align: center;
  margin: 2rem;
  margin-top: 3rem;
}
.process .process-steps {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
}
.process .process-steps__step {
  position: relative;
  width: 300px;
  background-color: rgb(7, 9, 15);
  overflow: hidden;
  border-radius: 1.5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.process .process-steps__step h4 {
  margin-top: 4rem;
}
.process .process-steps__nr {
  position: absolute;
  top: -4rem;
  left: -1rem;
  font-size: clamp(10rem, 15vw, 20rem);
  font-weight: bold;
  color: rgba(220, 220, 220, 0.025);
}
@media (min-width: 920px) {
  .process .process-steps {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 2.5rem;
  }
  .process .process-steps__step:nth-child(even) {
    margin-top: 3rem;
  }
  .process .process-steps h4 {
    font-size: clamp(1.25rem, 2.25vw, 3.75rem);
  }
}

.what-you-get-need {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.what-you-get-need__features, .what-you-get-need__reqs {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.what-you-get-need__features__feature, .what-you-get-need__features__req, .what-you-get-need__reqs__feature, .what-you-get-need__reqs__req {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.what-you-get-need__features {
  margin-bottom: -1.5rem;
}
.what-you-get-need__right {
  margin-top: -1.5rem;
}
.what-you-get-need__results {
  width: 350px;
  height: 350px;
}
@media (min-width: 920px) {
  .what-you-get-need {
    margin-top: -2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
  .what-you-get-need__results {
    width: 400px;
    height: 400px;
  }
}

.cta {
  background-color: rgb(7, 9, 15);
  text-align: center;
  padding: 1rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.footer {
  padding: 1rem;
  margin-top: 4rem;
}
.footer .footer-line {
  display: block;
  height: 2px;
  background-color: rgb(220, 220, 220);
  margin-bottom: 1rem;
}
.footer .footer-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.footer .footer-content__text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer .footer-content__text .footer-text {
  font-size: clamp(0.65rem, 1.05vw, 1.5rem);
  font-weight: bold;
}
@media (min-width: 768px) {
  .footer .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}/*# sourceMappingURL=main.css.map */